TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_CLIENT_SECRET=your_twitch_client_secret

SESSION_ENCRYPTION_KEY=your_session_encryption_key
OVERLAY_SECRET=your_overlay_secret
TWITCH_EVENTSUB_SECRET=your_eventsub_secret